pipeline/IS-U Insert Stage_Exec.json
{
	"name": "IS-U Insert Stage_Exec",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"description": "Execute Archive, Deletion and Staging for each value day in the file",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Params",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Delete Directory",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Insert Records",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Directory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat('[FactMDI].[usp_StgMDI_',toLower(item().ObjectName),'_Ins]')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ObjectName": {
										"value": {
											"value": "@toLower(item().ObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"day": {
										"value": {
											"value": "@item().Day",
											"type": "Expression"
										},
										"type": "String"
									},
									"month": {
										"value": {
											"value": "@item().Month",
											"type": "Expression"
										},
										"type": "String"
									},
									"systs": {
										"value": {
											"value": "@item().SysTimestamp",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().Year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Delete Directory_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Insert Records",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Insert Records_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Directory_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat('[FactMDI].[usp_StgMDI_',toLower(item().ObjectName),'_Ins]')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ObjectName": {
										"value": {
											"value": "@toLower(item().ObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"day": {
										"value": {
											"value": "@item().Day",
											"type": "Expression"
										},
										"type": "String"
									},
									"month": {
										"value": {
											"value": "@item().Month",
											"type": "Expression"
										},
										"type": "String"
									},
									"systs": {
										"value": {
											"value": "@item().SysTimestamp",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().Year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Copy Stage MDIFact to SQL Pools",
							"description": "Calls a stored procedure within SQL Synapse SQL Pools which copies data that has been staged for respective file timestamp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert Records",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dw_transform].[usp_stage_factmdi]",
								"storedProcedureParameters": {
									"debug": {
										"value": null,
										"type": "Int64"
									},
									"sourcedatalake": {
										"value": {
											"value": "@pipeline().parameters.MDISinkDataLakeURL",
											"type": "Expression"
										},
										"type": "String"
									},
									"systimestamp": {
										"value": {
											"value": "@item().SysTimestamp",
											"type": "Expression"
										},
										"type": "String"
									},
									"objectname": {
										"value": {
											"value": "@item().ObjectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().Year",
											"type": "Expression"
										},
										"type": "String"
									},
									"month": {
										"value": {
											"value": "@item().Month",
											"type": "Expression"
										},
										"type": "String"
									},
									"day": {
										"value": {
											"value": "@item().Day",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Copy Stage MDIFact to SQL Pools_copy1",
							"description": "Calls a stored procedure within SQL Synapse SQL Pools which copies data that has been staged for respective file timestamp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert Records_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dw_transform].[usp_stage_factmdi]",
								"storedProcedureParameters": {
									"debug": {
										"value": null,
										"type": "Int64"
									},
									"sourcedatalake": {
										"value": {
											"value": "@pipeline().parameters.MDISinkDataLakeURL",
											"type": "Expression"
										},
										"type": "String"
									},
									"systimestamp": {
										"value": {
											"value": "@item().SysTimestamp",
											"type": "Expression"
										},
										"type": "String"
									},
									"objectname": {
										"value": {
											"value": "@item().ObjectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().Year",
											"type": "Expression"
										},
										"type": "String"
									},
									"month": {
										"value": {
											"value": "@item().Month",
											"type": "Expression"
										},
										"type": "String"
									},
									"day": {
										"value": {
											"value": "@item().Day",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Params": {
				"type": "array"
			},
			"MDISinkDataLakeURL": {
				"type": "string"
			},
			"pMDISQLSynapseSecret": {
				"type": "string"
			},
			"MDISQLPoolSynapseSecret": {
				"type": "string"
			}
		},
		"folder": {
			"name": "2209060030000602-MDI Framework/IS-U/2_Stage/Inner"
		},
		"annotations": []
	}
}