pipeline/S3 to blog storage.json
{
	"name": "S3 to blog storage",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "N-Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "N-Number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Serial Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Serial Number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MFR MDL Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MFR MDL Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Eng MFR Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Eng MFR Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Year MFR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year MFR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type Registrant",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Type Registrant",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Street 1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Street 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Street2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Street2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "County ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County ",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Last Activity Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Last Activity Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Cert Issue Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Cert Issue Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Certification Requested ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Certification Requested ",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type Aircraft",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Type Aircraft",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type Engine",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Type Engine",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Status Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Status Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Mode S Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Mode S Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fractional  Ownership",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Fractional  Ownership",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Airworthiness Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Airworthiness Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Other Name 1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Other Name 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Other Name 2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Other Name 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Other Name 3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Other Name 3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Other Name 4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Other Name 4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Other Name 5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Other Name 5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Expiration Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Expiration Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unique ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unique ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Kit MFR Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Kit MFR Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Kit Model",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Kit Model",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Mose S Code Hex",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Mose S Code Hex",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "S3DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BlobMasterFAA_File",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send success email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/4ebeb981688c449eb7c3da1fcc83139f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lqHDrYyyDs9KdFSv3Q0Afpx_ut3nsgj73cDf59v_fVc",
					"method": "POST",
					"headers": {
						"Content-Type": "Application/json"
					},
					"body": {
						"dataFactoryName": "@{pipeline().DataFactory}",
						"successtype": "Succeeded",
						"message": "@{activity('S3 to Azure Blob').output.dataWritten}",
						"pipelineName": "@{pipeline().Pipeline}",
						"recipient": "@{pipeline().parameters.recipient}"
					}
				}
			},
			{
				"name": "Send failed email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/4ebeb981688c449eb7c3da1fcc83139f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lqHDrYyyDs9KdFSv3Q0Afpx_ut3nsgj73cDf59v_fVc",
					"method": "POST",
					"headers": {
						"Content-Type": "Application/json"
					},
					"body": {
						"dataFactoryName": "@{pipeline().DataFactory}",
						"successtype": "Failed",
						"message": "@{activity('S3 to Azure Blob').error.message}",
						"pipelineName": "@{pipeline().Pipeline}",
						"recipient": "@{pipeline().parameters.recipient}"
					}
				}
			}
		],
		"parameters": {
			"recipient": {
				"type": "string",
				"defaultValue": "mbinsaidinah@microsoft.com"
			}
		},
		"folder": {
			"name": "L200 Hand-on lab"
		},
		"annotations": []
	}
}